torch==2.0
torchvision==0.15.1
torchrl==0.0.2a
tensordict==0.1.0
pygame==2.3.0
carla==0.9.15
numba==0.56.4
gymnasium==0.28.1
hydra-core
tensorboard
torchinfo
wandb
tqdm
pynvml
nvsmi
scikit-image
matplotlib
opencv-python
