wheel==0.45.1
pip==25.0.1
nvidia-ml-py==12.570.86
mpmath==1.3.0
lit==18.1.8
urllib3==2.3.0
tensorboard-data-server==0.7.2
sympy==1.13.3
six==1.17.0
setproctitle==1.3.5
PyYAML==6.0.2
pynvml==12.0.0
protobuf==5.29.4
platformdirs==4.3.7
pillow==11.1.0
nvsmi==0.4.2
nvidia-cusparse-cu11==11.7.4.91
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cublas-cu11==11.10.3.66
numpy==1.23.5
llvmlite==0.39.1
kiwisolver==1.4.8
filelock==3.18.0
cycler==0.12.1
cmake==4.0.0
cloudpickle==3.1.1
charset-normalizer==3.4.1
annotated-types==0.7.0
Werkzeug==3.1.3
tifffile==2025.3.13
scipy==1.15.2
requests==2.32.3
pydantic_core==2.33.0
omegaconf==2.3.0
nvidia-cusolver-cu11==11.4.0.1
nvidia-cudnn-cu11==8.5.0.96
jax-jumpy==1.0.0
imageio==2.37.0
contourpy==1.3.1
scikit-image==0.24.0
wandb==0.19.8
torch==2.0.0
torchvision==0.15.1
torchrl==0.0.2a0
absl-py==2.2.1
typing_extensions==4.13.0
smmap==5.0.2
nvidia-cuda-nvrtc-cu11==11.7.99
click==8.1.8
antlr4-python3-runtime==4.9.3
psutil==7.0.0
pyparsing==3.2.3
packaging==24.2
numba==0.56.4
networkx==3.4.2
sentry-sdk==2.24.1
nvidia-cufft-cu11==10.9.0.58
carla==0.9.15
idna==3.10
tqdm==4.67.1
python-dateutil==2.9.0.post0
certifi==2025.1.31
pygame==2.3.0
grpcio==1.71.0
nvidia-cuda-runtime-cu11==11.7.99
opencv-python==4.11.0.86
fonttools==4.56.0
MarkupSafe==3.0.2
nvidia-nccl-cu11==2.14.3
nvidia-curand-cu11==10.2.10.91
lazy_loader==0.4
Jinja2==3.1.6
torchinfo==1.8.0
Markdown==3.7
setuptools==75.8.2
Farama-Notifications==0.0.4
nvidia-nvtx-cu11==11.7.91
typing-inspection==0.4.0
gitdb==4.0.12
docker-pycreds==0.4.0
tensorboard==2.19.0
pydantic==2.11.1
matplotlib==3.10.1
hydra-core==1.3.2
gymnasium==0.28.1
GitPython==3.1.44
triton==2.0.0
tensordict==0.1.0
